# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment Variables
.env

# SQLite Database Files
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE Specific (if using VS Code)
.vscode/
.DS_Store
